@use 'sass:color';

// Theme variables.

// Color system

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

//  驻转 爪注 驻住 专 注 注
$primary: #A8D8EA;    // 转转 驻住 专
$danger: #FFABAB;     // 专- 驻住
$error: $danger;
$secondary: #FFDAB9;  // 驻专住拽 驻住
$warning: #FFF4B8;    // 爪 驻住 注
$success: #C7EFCF;    // 专拽  驻住
$debug: #D4F1F4;      // 转转 专 
$info: #B4E4FF;       //  转转 驻住
$light: $gray-100;
$dark: $gray-800;

// Breadcrumbs

$breadcrumb-padding-y: 0.75rem;
$breadcrumb-padding-x: 1rem;

// Carousels

$carousel-dark-control-icon-filter: none;

// Components

$border-color: $gray-200;
$component-active-color: $gray-400;
$component-active-bg: $primary;

// Links

$link-color: $info;
$link-decoration: none;
$link-hover-color: color.adjust($link-color, $lightness: -15%);

// Tables

$table-cell-padding-y: 0.75rem;
$table-cell-padding-x: 0.75rem;
$table-striped-bg: $dark;
