{% load i18n %}
<li class="nav-item dropdown">
<a id="nav-timer-menu-link"
   class="nav-link dropdown-toggle"
   href="#"
   data-bs-toggle="dropdown"
   aria-haspopup="true"
   aria-expanded="false"><i class="icon-timer" aria-hidden="true"></i>
{% trans "Timers" %}
</a>
<div class="dropdown-menu" aria-labelledby="nav-timer-menu-link" style="left: 0; right: auto;">
    {% if perms.core.add_timer %}
        <h6 class="dropdown-header">{% trans "Quick Start Timers" %}</h6>
        <a class="dropdown-item" href="{% url 'core:timer-quick-start' 'sleep' %}">
            <i class="icon-sleep" aria-hidden="true"></i> {% trans "Sleep Timer" %}
        </a>
        <a class="dropdown-item" href="{% url 'core:timer-quick-start' 'tummy-time' %}">
            <i class="icon-tummytime" aria-hidden="true"></i> {% trans "Tummy Time Timer" %}
        </a>
        <a class="dropdown-item" href="{% url 'core:timer-quick-start' 'pumping' %}">
            <i class="icon-pumping" aria-hidden="true"></i> {% trans "Pumping Timer" %}
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'core:timer-add' %}">
            <i class="icon-add" aria-hidden="true"></i> {% trans "Custom Timer" %}
        </a>
    {% endif %}
    {% if perms.core.view_timer %}
        <a class="dropdown-item" href="{% url 'core:timer-list' %}">
            <i class="icon-list" aria-hidden="true"></i> {% trans "View All Timers" %}
        </a>
    {% endif %}
    {% if timers %}
        <div class="dropdown-divider"></div>
        <h6 class="dropdown-header">{% trans "Timers" %}</h6>
        {% for timer in timers %}
            <a class="dropdown-item" href="{% url 'core:timer-detail' timer.id %}">{{ timer.title_with_child }}</a>
        {% empty %}
            <a class="dropdown-item disabled" href="#">{% trans "None" %}</a>
        {% endfor %}
    {% endif %}
</div>
</li>
