{% extends 'babybuddy/page.html' %}
{% load cards i18n imagekit static %}
{% block title %}
    {% trans "Dashboard" %}
{% endblock %}
{% block breadcrumbs %}
    <li class="breadcrumb-item fw-bold">{% trans "Dashboard" %}</li>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            {% card_quick_actions %}
            {% card_timer_list %}
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12">
            <div class="row g-3">
                {% for object in objects %}
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="card child-card">
                            <a class="text-center d-block p-3" href="{% url 'core:child' object.slug %}">
                                {% if object.picture %}
                                    {% thumbnail '300x300' object.picture as thumb %}
                                        <img src="{{ thumb.url }}" class="child-photo" />
                                    {% else %}
                                        <img src="{% static 'babybuddy/img/core/child-placeholder.png' %}"
                                             class="child-photo" />
                                    {% endif %}
                                </a>
                                <div class="card-body text-center pt-0">
                                    <h4 class="card-title mb-1" style="font-size: 1.25rem; font-weight: 700;">{{ object }}</h4>
                                    <div class="card-text">
                                        <p class="mb-2" style="font-size: 0.85rem;">
                                            <span style="color: rgba(255,255,255,0.4);">{% trans "Born" %}</span>
                                            <span style="color: rgba(255,255,255,0.7);">{{ object.birth_date }}</span>
                                            <br />
                                            <span style="color: rgba(255,255,255,0.4);">{% trans "Age" %}</span>
                                            <span style="color: #818cf8; font-weight: 600;">{{ object.birth_date|timesince }}</span>
                                        </p>
                                        {% include 'dashboard/child_button_group.html' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endblock %}
